<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brownsuagr.qasystem.mapper.ModelMapper">

    <select id="findById" resultType="com.brownsuagr.qasystem.entity.Model">
         select name,description
         from model
         where id=#{modelId}
    </select>

</mapper>



